:root {
  --bgcolor: #ffdd00;
  --textcolor: #333333;
  --canvas-width: 1600;
  --canvas-height: 2000;
  --font-size-1: 60;
  --font-size-2: 50;
  --font-size-3: 40;
  --width: 100vw;
  --height: 125vw;
  --calculated-default-fontsize-60: calc(var(--font-size-1)/var(--canvas-height)*var(--height)); /*60/2000*heifht*/
}

@media (min-aspect-ratio: 4/5) {
  :root {
    --width: 80vh;
    --height: 100vh;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: calc(var(--font-size-1)/var(--canvas-height)*var(--height));
  font-family: monospace;
  overflow: hidden;
  line-height: 1.1;
}

body {
  width: 100%;
  /* background-color: var(--textcolor); */
  background: linear-gradient(180deg, var(--textcolor) -10%, #ffffff00 10%, #ffffff00 90%, var(--bgcolor) 110%);
  /* background-color: white; */
}

.center {
  position: relative;
  margin: auto;
}

canvas, .center {
  width: var(--width);
  height: var(--height);
}

input, textarea, button {
  position: absolute;
}

textarea::placeholder, textarea::selection {
  color: var(--textcolor);
  opacity: 1;
}

textarea {
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--textcolor);
  opacity: 0.5;
  border: none;
  outline: none;
}

#bgcolor, #textcolor {
  width: 40px;
  height: 30px;
  top: 0;
  border: none;
  /* outline: none; */
}

#bgcolor {
  left: 0;
}

#textcolor {
  left: 40px;
}

button {
  right: 0;
  background-color: #ffffff77;
  font-size: 20px;
  padding: 4px 8px;
  border: none
}

#maintext {
  top: calc((var(--height)*300/var(--canvas-height)) - (var(--height)*var(--font-size-1)/var(--canvas-height)));
  left: calc(var(--width)*200/var(--canvas-width));
  width: calc(var(--width)*1200/var(--canvas-width));
}

#sign {
  top: calc((var(--height)*1700/var(--canvas-height)) - (var(--height)*var(--font-size-2)/var(--canvas-height)));
  left: calc(var(--width)*200/var(--canvas-width));
  width: calc(var(--width)*800/var(--canvas-width));
  font-size: calc(var(--font-size-2)/var(--canvas-height)*var(--height));
}
