*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: calc(60/2000*125vw);
  font-family: monospace;
  overflow: hidden;
}

body {
  width: 100%;
}

.center {
  position: relative;
  margin: auto;
}

input, textarea {
  position: absolute;
}

textarea {
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
}

#bgcolor, #textcolor {
  width: 40px;
  height: 30px;
  right: 0;
  border: none;
  /* outline: none; */
}

#bgcolor {
  bottom: 0;
}

#textcolor {
  bottom: 30px;
}

#maintext {
  top: calc((125vw*300/2000) - (125vw*60/2000));
  left: calc(100vw*200/1600);
  width: calc(100vw*1200/1600);
}

#sign {
  top: calc((125vw*1750/2000) - (125vw*60/2000));
  left: calc(100vw*200/1600);
  width: calc(100vw*800/1600);
}

textarea::placeholder, textarea::selection {
  color: rgba(0, 0, 0, 0.3);
}

canvas, .center {
  width: 100vw;
  height: 125vw;
}

@media (min-aspect-ratio: 4/5) {
  *, *::after, *::before {
    font-size: calc(60/2000*100vh);
  }

  canvas, .center {
    width: 80vh;
    height: 100vh;
  }

  #maintext {
    top: calc((100vh*300/2000) - (100vh*60/2000));
    left: calc(80vh*200/1600);
    width: calc(80vh*1200/1600);
  }

  #sign {
    top: calc((100vh*1750/2000) - (100vh*60/2000));
    left: calc(80vh*200/1600);
    width: calc(80vh*800/1600);
  }
}
