*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#left, #right {
  height: 80%;
  width: 49.5%;
  position: absolute;
  top: 0;
  font-size: 64vmin;
  text-align: center;
  display: inline-block;
}

#left {
  left: 0.3%;
  background-color: #ff000077;
  color: #ff000077;
}

#right {
  right: 0.3%;
  background-color: #0000ff77;
  color: #0000ff77;
}

#left-1, #reset, #right-1 {
  background-color: #77777777;
  color: #77777777;
  height: 19%;
  width: 32%;
  position: absolute;
  bottom: 0;
  font-size: 16vmin;
  text-align: center;
  display: inline-block;
}

#left-1 {
  left: 0.3%;
}

#reset {
  left: 34%;
}

#right-1 {
  right: 0.3%;
}
